@{
    ViewData["Title"] = "ckxcvcbcvdfvd כללית";
}
<h1>@ViewData["Title"]</h1>

<p>Use this pdgbdgbg privacy policy.</p>


<div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">מידע והנחיות</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#firstId" class="btn btn-primary">לחץ כאן</a>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">בדיקת קורונה</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#secondId" class="btn btn-primary">לחץ כאן</a>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">עדכונים</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#thirdId" class="btn btn-primary">לחץ כאן</a>
        </div>
    </div>
    <div class="m-5 p-5 jumbotron" id="firstId">
        <div class="container">
            <h1 class="display-4">מידע והנחיות</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>
                מהו נגיף (וירוס) קורונה?
                <br />
                <br />
                נגיפי קורונה הינם משפחה גדולה של נגיפים (וירוסים) הידועים כגורמים למחלות בבעלי חיים ועלולים לגרום לתחלואה גם בבני אדם.
                <br />
                הם קיבלו את שמם עקב הדמיון שלהם במיקרוסקופ אלקטרוני לכתר (קורונה בלטינית).
                חומרת הפגיעה של הנגיף בבני אדם משתנה בין הנגיפים השונים במשפחה ונעה ממחלה קלה כגון הצטננות, למחלות עם הסתמנות קלינית קשה, הפוגעות בריאות וגורמות לאי ספיקה רב מערכתית כגון, התסמונת הנשימתית המזרח התיכונית (MERS) והתסמונת הנשימתית החמורה (SARS).
                <br />
                <br />
                כיצד בני אדם נדבקים בנגיף?
                <br />
                הנגיף מופרש מדרכי הנשימה של אדם חולה בעיקר בעת עיטוש או שיעול והטיפות הניתזות יכולות להישאף על ידי אנשים אחרים.
                <br />
                בנוסף קיימת האפשרות שהטיפות הניתזות ינחתו על משטחים ובכך אנשים שלאחר פרק זמן מסויים יגעו במשטחים אלה ולאחר מכן יגעו באף, בפה או בעיניים שלהם עלולים להידבק גם כן.
                <br />
                כל מגע גופני בין בני אדם ללא חציצה כמו נשיקה, חיבוק ואף לחיצת יד, עשוי להיות מדבק.
                <br />
                רמת ההדבקה דומה לפחות לזו של נגיף השפעת.
                <br />
                <br />
                מהם תסמיני המחלה?
                <br />
                חלק משמעותי מן הנדבקים בנגיף הקורונה אינם מפתחים תסמינים כלל.
                <br />
                התסמינים השכיחים ביותר של המחלה הם חום, עייפות ושיעול יבש.
                <br />
                תסמינים נוספים הם כאבי שרירים, כאבי ראש, כאבי גרון ואובדן חושי הטעם והריח.
                <br />
                <br />
                מה ניתן לעשות על מנת להימנע מהדבקה בנגיף הקורונה החדש?
                <br />
                בנוסף לחובת עטיית המסיכה, מומלץ לשמור כשגרה תמיד על אותם כללי היגיינה שעשויים למנוע הדבקה גם בנגיפים אחרים של דרכי הנשימה (דוגמת מחלת השפעת) והם:
                <br />
                <br />
                • הקפדה על רחיצת ידיים לעיתים תכופות, כמו כן שימוש בחומר חיטוי על בסיס אלכוהול.
                <br />
                <br />
                • שמירה על מרחק של 2 מטרים בין אדם לאדם וכן הימנעות ממגע פיזי.
                <br />
                <br />
                • הימנעות ממגע בחפצים או במשטחים ציבוריים אשר סביר שיהיו מזוהמים שכן המון אנשים נוגעים בהם.
                <br />
                <br />
                • הימנעות ממגע עם הפה, האף והעיניים.
                <br />
                <br />
                • שיעול ועיטוש למרפק ולא לכף היד.
                <br />
                <br />
                • הימנעות משימוש בכלי אוכל משותפים במהלך ארוחה, גם בין בני הבית.
                <br />
                <br />
                מהו בידוד?
                <br />
                על מנת למנוע את הפצת המחלה ולעצור את ההדבקה חלה החובה לבידוד.
                <br />
                לשם כך נדרשת הימנעות מכל שהיה במקומות ציבוריים וכן הגנה על שאר בני הבית.
                <br />
                השוהים בבידוד נדרשים שלא לצאת מהבית או מהחדר בו הם נמצאים במהלך תקופת הבידוד.
                <br />
                הבידוד הוא על פי צו מנכ"ל משרד הבריאות ונדרש לשהות בבידוד במשך 14 ימים מאז התאריך הקובע לכניסה לבידוד.
                <br />
                <br />
                מי נדרש להיכנס לבידוד?
                <br />
                • מי שהיו במגע עם חולה מאומת או שרופא קבע כי היו במגע עם חולה מאומת ב-14 הימים האחרונים.
                <br />
                • מי שנבדקו לקורונה בשל חשד להדבקות.
                <br />
                • מי ששבו לישראל מחו"ל.
                <br />
                • מי שיש להם חום מעל 38 מעלות.
            </p>
        </div>
    </div>
    <div class="m-5 p-5 jumbotron" id="secondId">
        <div class="container">
            <h1 class="display-4">בדיקת קורונה</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>
                באילו מצבים ניתן לקבל הפניה לבדיקת קורונה?
                <br />
                <br />
                לפי הנחיות משרד הבריאות, בדיקת קורונה תיעשה למטופלים שסובלים מאחד או יותר מהתסמינים החדים של המחלה.
                <br />
                בין התסמינים הללו נכללים:
                <br />
                <br />
                • חום של 38 מעלות או יותר.
                <br />
                <br />
                • שיעול או קושי בנשימה או תסמינים נשימתיים אחרים (לא כולל נזלת - אם היא תסמין בודד).
                <br />
                <br />
                • שינוי בחוש הטעם או בחוש הריח.
                <br />
                <br />
                • כאב גרון.
                <br />
                <br />
                • חולשת שרירים.
                <br />
                <br />
                אם סובלים מהתסמינים האלה, מומלץ לא להגיע למרפאה או לחדר מיון.
                <br />
                <br />
                <br />
                כמו כן האנשים שנכללים בקבוצות הבאות יקבלו הפניה לבדיקת קורונה גם ללא תסמינים:
                <br />
                <br />
                • בני בית של חולה מאומת.
                <br />
                <br />
                • מי שבמהלך החקירה האפידמיולוגית התברר כי היה במגע הדוק עם חולה מאומת, ויש צורך לבדוק אותו.
                <br />
                <br />
                אם אתם או הילדים שלכם סובלים מאחד או יותר מהתסמינים או עונים על אחד או יותר מהקריטריונים שמופיעים למעלה, ביכולתכם לפנות לרופא משפחה או לרופא ילדים ולבקש הפניה לבדיקת קורונה.
                <br />
                <br />
                איך מאבחנים את המחלה שגורם נגיף הקורונה?
                <br />
                אבחנת המחלה נעשית באמצעות בדיקה מעבדתית, המתבצעת מדגימה של הפרשות מדרכי הנשימה.
                <br />
                בבדיקה נבדקת באופן ישיר נוכחות של חומר גנטי של הנגיף בהפרשות. בבדיקה מוכנס מטוש (מקל שבקצהו צמר גפן) ללוע ולאף הנבדקים לאיסוף דגימת הפרשות.
            </p>
        </div>
    </div>
    <div class="m-5 p-5 jumbotron" id="thirdId">
        <div class="container">
            <h1 class="display-4">עדכונים</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>
                מהי תוכנית הרמזור?
                <br />
                תוכנית "הרמזור" מאפשרת התמודדות דיפרנציאלית עם התפשטות נגיף הקורונה
                <br />
                בהתאם לנתוני תחלואה אזוריים, על בסיס מדדים אחידים, קבועים ושקופים.
                <br />
                כלי הניהול וקבלת ההחלטות המכונה "הרמזור" מגדיר ארבעה מדרגי תחלואה,
                <br />
                שמסומנים בצבעים ירוק, צהוב, כתום ואדום.
                <br />
                כל רשות מקומית תסווג בצבע לפי מדרגים אלו.
                <br />
                סיווג וצבע היישוב נקבע על-פי אחוז החולים החדשים, קצב גידול התחלואה ואחוז ,
                <br />
                החולים החיוביים מסך הבדיקות, בהתאמה וביחס למספר התושבים.
                <br />
                צבע היישוב מבטא את מצב התחלואה ביישוב, וכתוצאה מכך את ההגבלות בתחום ההתקהלות
                <br />
                והתפוסה המותרת במקומות ציבוריים ועסקיים.
                <br />
                סיווג בצבע ירוק מעיד על תחלואה נמוכה ומאפשר פעילות מותאמת, בעוד שסיווג אדום
                <br />
                מעיד על תחלואה גבוהה ועל כן הטלת מגבלות התקהלות מחמירות יותר.
                <br />
                <br />
                יישוב ירוק - יישוב בו רמת התחלואה הקיימת והצפויה נמוכה ולכן תתאפשר בו
                <br />
                פעילות מקסימאלית של התקהלות במקומות ציבוריים ועסקיים, תוך הקפדה על
                <br />
                ההנחיות על מנת לשמור על מצבו של הישוב.
                <br />
                <br />
                יישוב צהוב - יישוב בו רמת התחלואה הקיימת והצפויה בינונית.
                <br />
                בהתאם לכך, תתאפשר בו פעילות חלקית של התקהלות במקומות ציבוריים ועסקיים,
                <br />
                בהתאם לכך, תתאפשר בו פעילות חלקית של התקהלות במקומות ציבוריים ועסקיים,
                <br />
                תוך קיום מאמצים תומכים שיסייעו בשינוי מגמת התחלואה בישוב.
                <br />
                יישוב כתום - יישוב בו רמת התחלואה הקיימת והצפויה גבוהה.
                <br />
                בהתאם לכך, תתאפשר בו פעילות מצומצמת של התקהלות במקומות ציבוריים ועסקיים,
                <br />
                תוך קיום מאמצים תומכים שיסייעו בשינוי מגמת התחלואה בישוב.
                <br />
                <br />
                יישוב אדום - יישוב בו רמת התחלואה הקיימת והצפויה גבוהה מאוד.
                <br />
                בהתאם לכך, תתאפשר בו פעילות מינימלית של התקהלות במקומות ציבוריים ועסקיים
                <br />
                ותוגבל בו פעילות החינוך, תוך קיום מאמצים תומכים שיסייעו בשינוי מגמת התחלואה.
            </p>
        </div>
    </div>
</div>
