@{
    ViewData["Title"] = "Plastical Team";
}
<h1>@ViewData["Title"]</h1>

<p>Use this  privacy policy.</p>


<div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">מנתחי אף</h5>
            <p class="card-text">רופאים מומחים לניתוחי אף.</p>
            <a href="#firstId" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">הזרקות</h5>
            <p class="card-text">רופאים מומחים להזרקות.</p>
            <a href="#secondId" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">מתיחת פנים</h5>
            <p class="card-text">רופאים מומחים למתיחת פנים.</p>
            <a href="#thirdId" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

@*/////this is the cards for the doctors*@

<div class="m-5 p-5 jumbotron" id="firstId">
    <div class="container">
        <h1 class="display-4">מנתחי אף</h1>
        <hr class="my-4">
        <p>
            <div class="card-deck">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ד"ר אייל משה</h5>
        <p class="card-text">
            התמחות: ניתוחי אף
            <br />
            ניסיון תעסוקתי: 10 שנים
            <br />
            :מקומות עבודה
            <br />
            אסותא אשדוד, אשדוד
            <br />
            בלינסון, פתח תקווה.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ד"ר גסטין צמברס</h5>
        <p class="card-text">
            התמחות: ניתוחי אף
            <br />
            ניסיון תעסוקתי: 15 שנים
            <br />
            : מקומות עבודה
            <br />
            אסותא אשדוד, אשדוד
            <br />
            בלינסון, פתח תקווה.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>



@*seconds doctors*@

<div class="m-5 p-5 jumbotron" id="secondId">
    <div class="container">
        <h1 class="display-4">הזרקות</h1>
        <hr class="my-4">
        <p>
            <div class="card-deck">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ד"ר גדי גולדשטיין</h5>
        <p class="card-text">
            התמחות: הזרקות
            <br />
            ניסיון תעסוקתי: 20 שנים
            <br />
           : מקומות עבודה
            <br />
            בית חולים רמב”ם
            <br />
            מרכז רפואי כרמל
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ד"ר פטריק דמפסי</h5>
        <p class="card-text">
            התמחות: הזרקות
            <br />
            ניסיון תעסוקתי: 5 שנים
            <br />
            :מקומות עבודה
            <br />
            בית החולים אסותא חיפה
            <br />
            מרכז רפואי רבקה זיו צפת
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>




@*third doctors*@


<div class="m-5 p-5 jumbotron" id="thirdId">
    <div class="container">
        <h1 class="display-4">מתיחת פנים</h1>
        <hr class="my-4">
        <p>
            <div class="card-deck">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ד"ר נורית לרר בן חמו</h5>
        <p class="card-text">
            התמחות: מתיחת פנים
            <br />
            ניסיון תעסוקתי: 25 שנים
            <br />
            :מקומות עבודה
            <br />
            בית חולים וולפסון
            <br />
            מרכז רפואי אסף הרופא
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ד"ר הלן קטלין</h5>
        <p class="card-text">
            התמחות: מתיחת פנים
            <br />
            ניסיון תעסוקתי: 15 שנים
            <br />
            :מקומות עבודה
            <br />
            מרכז רפואי קפלן
            <br />
            בית החולים אסותא ראשון לציון
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>










